.form-container {
    width: 100%;
    padding-top: 3rem;
    font-size: 1.2rem;
}

.button-proceed {
    background-color: rgb(71, 71, 230);
    color: white;
    padding: 0.5rem 1.5rem;
}

#user-email {
    height: 38px;
}

.dati {
    gap: 1rem;
}

h2 {
    padding: 2rem 0rem 0rem 0rem;
}